.body {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: rgb(240, 235, 235);
}
.heart {
  background: red;
  position: relative;
  height: 100px;
  width: 100px;
  transform: rotate(-45deg) scale(1);
  animation: pulse 2s infinite;
}
.heart::after {
  background: inherit;
  border-radius: 50%; 
  content:'';
  position: absolute;
 
  top: -50%;
  left: 0;
  height: 100px;
  width: 100px;
}
.heart::before {

  background: inherit; 
  border-radius: 50%;
  content:'';
  position: absolute;
  top:0; 
  right: -50%;
  height: 100px;
  width: 100px;
}

@keyframes pulse{
  0% {
      transform: rotate(-45deg) scale(1);
      opacity: 0;
  }
  50% {
      transform: rotate(-45deg) scale(1.3);
      opacity: 1;
  }
  100% {
      transform: rotate(-45deg) scale(1);
      opacity: 1;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: lightblue;
}
h1 {
 position: absolute;
 width: 100%;
 text-align: center;
 left: 50%;
 top: 40%;
 transform: translate(-50%, -50%);
}
h1 span {
  margin: 0 5px;
  font-size: 40px;
  color: #484848;
  animation: flash 1.2s linear infinite;
}
@keyframes flash {
  0% {
    color: yellow;
    box-shadow: 0 0 10px #fff900, 0 0 50px tomato;
  }
  90% {
    color: #484848;
    box-shadow: none;
  }
  100% {
   color: #484848;
   box-shadow: none;
   }
}
h1 span:nth-child(1) {
  animation-delay: 0.1s;
}
h1 span:nth-child(2) {
  animation-delay: 0.2s;
}
h1 span:nth-child(3) {
  animation-delay: 0.3s;
}
h1 span:nth-child(4) {
  animation-delay: 0.4s;
}
h1 span:nth-child(5) {
  animation-delay: 0.5s;
}
h1 span:nth-child(6) {
  animation-delay: 0.6s;
}
h1 span:nth-child(7) {
  animation-delay: 0.7s;
}
h1 span:nth-child(8) {
  animation-delay: 0.8s;
}
h1 span:nth-child(9) {
  animation-delay: 0.9s;
}
h1 span:nth-child(10) {
  animation-delay: 1s;
}
.body1 {
  background-color: rgb(29, 39, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.carddown {
  background-color: rgb(31, 37, 59);
  width: 300px;
  height: 500px;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.7em;
  cursor: pointer;
}
.carddown:hover {
  color: rgb(50, 50, 80);
  opacity: 0;
  animation: none;
}
.carddown::before {
  content: "";
  border-radius: 5px;
  background-image: linear-gradient(rgb(69, 150, 204), rgb(45, 45, 153), rgb(179, 79, 179));
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -2px;
  animation: spin 5.5s infinite linear;
  width: 104%;
  height: 102%;
}
.carddown::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;

}
@keyframes spin {
  0% {
 background-color: lightblue;
 box-shadow: 0 0 10px plum, 0 0 50px purple;
  }
  100% {
    background-color: lightskyblue;
box-shadow: 0 0 10px lightskyblue, 0 0 30px blue;
  }
}
















